# Variabel dan Tipe Data

## 1. Variabel

Variabel = lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi
Syarat-syarat penamaan variabel
1. Karakter-karakter yang digunakan untuk penamaan variabel adalah alphabet, angka dan underscore
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserves words dari bahasa python seperti for, if, dan lainnya
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [8]:
# Membuat Variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

#Menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

## Latihan 1

Buatlah 5 variabel kalian sendiri dengan 5 macam tipe data lalu tampilkan variabel dengan menggunakan fungsi print

In [51]:
kata = 'Saya mengikuti kelas dasar Pusat Studi Data Sains Matematika '
angka1 = 7
angka2 = 4.9
angka3 = False
angka4 = 7j + 9

#Menampilkan variabel
print(kata)
print(angka1)
print(angka2)
print(angka3)
print(angka4)

Saya mengikuti kelas dasar Pusat Studi Data Sains Matematika
7
4.9
False
(9+7j)

## 2. Tipe Data

5 tipe data yaitu
1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [10]:
# Menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

## Latihan 2

Cek type data variabel yang telah kalian buat pada latihan 1

In [43]:
print(type(kata))
print(type(angka1))
print(type(angka2))
print(type(angka3))
print(type(angka4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

## 3. Konversi Tipe Data

Syarat konversi tipe data
1. Integer = int()
2. Float = float()
3. String = str()
4. Boolean = bool()
5. Complex = complex()

In [31]:
# Konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [ ]:
# Konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

In [32]:
# Konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [33]:
# Konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [ ]:
#Konversi tipe data compleks
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

## Latihan 3

Konversi tipe data variabel yang telah kalian buat menjadi berbagai macam tipe data

In [45]:
# Konversi tipe data integer
print(int(angka1))
print(int(angka2))
print(int(angka3))

7
4
0

In [ ]:
#Konversi tipe data float
print(float(kata))
print(float(angka2))

In [47]:
#Konversi tipe data string
print(str(kata))
print(str(angka1))
print(str(angka2))
print(str(angka3))
print(str(angka4))

Saya mengikuti kelas dasar Pusat Studi Data Sains Matematika UAD
7
4.9
False
(9+7j)

In [48]:
# Konversi tipe data bool
print(bool(kata))
print(bool(angka1))
print(bool(angka2))
print(bool(angka3))
print(bool(angka4))

True
True
True
False
True

In [ ]:
# Konversi tipe data complex
print(complex(kata))
print(complex(angka1))
print(complex(angka2))
print(complex(angka3))
print(complex(angka4))