<a href="https://colab.research.google.com/github/ifanapridarahman/Pejuang_Data_3/blob/main/M2P1V3_Struktur_Data_Tuple_Ifan_Aprida_Rahman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma

In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah Tuple:", T1)

ini adalah Tuple: (1, 'dua', True, (1+2j))

In [2]:
#Menampilkan tipe struktur data
type(T1)

tuple

## Latihan 1

Buatlah Tuple mu sendiri

In [5]:
C = (6, "tiga", False, 2+3j)
print("ini merupakan tuple buatan saya:", C)

#Menampilkan tipe struktur data
type(C)

ini merupakan tuple buatan saya: (6, 'tiga', False, (2+3j))

tuple

# Sifat-sifat Tuple

In [6]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [7]:
#Tidak bisa diganti/Immutable
T1[2] = "Manusia"

TypeError: ignored

In [8]:
#Dapat diindex/Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [9]:
#Dapat diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

Menggabungkan Tuple

In [11]:
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

## Latihan 2

Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat

In [16]:
#Membuat Tuple ke 2 dengan duplikasi
C2 = (6 , "UAD", True, 6)
C2

(6, 'UAD', True, 6)

In [18]:
#Menggabungkan kedua tuple yang telah dibuat menjadi satu
A = C + C2
A

(6, 'tiga', False, (2+3j), 6, 'UAD', True, 6)